.article-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-small);
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.article-list__item {
  width: 100%;
}

.article-list__link {
  color: var(--color-text-primary);
  font-weight: var(--font-weight-extra-bold);
}

.article-list__prefix {
  text-transform: uppercase;
}
