.brand-logo {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.brand-logo__text {
  color: var(--color-text-primary);
  font-family: var(--font-family);
  font-size: var(--font-size-logo);
  font-weight: var(--font-weight-extra-bold);
  line-height: var(--line-height-logo);
}

@media (min-width: 768px) {
  .brand-logo {
    justify-content: flex-start;
  }
}
