.site-footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.site-footer__email {
  color: var(--color-text-primary);
  font-weight: var(--font-weight-extra-bold);
  white-space: nowrap;
}

@media (min-width: 768px) {
  .site-footer {
    justify-content: flex-start;
  }
}
